<div class="container">
  <div class="full-article">
    <h1>{{ article.title }}</h1>
    <p>{{ article.author }}</p>
    <p>{{ article.body }}</p>
    <a href="/articles/edit/{{ article._id }}">Edit</a>
    <a href="#" class="delete" data-id="{{ article._id }}">Delete</a>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>

$(document).ready(function() {
  $('.delete').click(function(e) {
    const target = $(e.target);
    const id = target.attr('data-id');
    $.ajax({
      type: 'DELETE',
      url: '/articles/'+id,
      success: function(res) {
        alert(res);
        window.location.href = '/';
      },
      error: function(err) {
        console.log(err);
      }
    })
  });
});

</script>
